.places {
    padding-bottom: 0;
    object-fit: cover;
    padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .places {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 424px) {
    .places {
        padding-bottom: 65px;
    }
}