.lead__title {
    color: #FFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    padding-top: 0;
    margin: 0;
    padding-top: 0;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 32px;
    max-width: 720px;
}
@media screen and (max-width:1024px){
    .lead__title {
        padding-left: 152px;
        padding-right: 152px;
        padding-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .lead__title {
       padding-left: 24px;
       padding-right: 24px;
    }
}

@media screen and (max-width:425px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }
}