.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 26px;
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .place__paragraph {
        max-width: 456px;
        padding-bottom: 27px;
    }
}

@media screen and (max-width:768px) {
    .place__paragraph {
        max-width: 352px;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width:425px) {
    .place__paragraph {
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 26.08px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 288px;
        text-align: left;
    }
}
.place__paragraph:last-of-type {
    padding-bottom: 0;
}