.footer__copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-bottom:24px;
    text-align: center;
    margin:auto 0 auto 0;
    color: #FFFFFF;
    }
    @media screen and (min-width: 320px) and (max-width:425px) {
    .footer__copyright{
        line-height: 16px;
        max-width: 186px;
        text-align: left;
    }
    }
  