.lead__image {
    max-width: 984px;
    width: 100%;
    margin: 0;
    object-fit: cover;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 148px;
    padding-left: 148px;
}

@media screen and (max-width:1024px) {
    .lead__image {
        padding-left: 48px;
        padding-right: 48px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .lead__image {
        padding: 0;
        width: 100%;
        max-width: 320px;
    }

}