.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    padding:0;
    margin:0 0 32px 0;
    z-index: 1;
    justify-content: center;
    }
    @media screen and (min-width: 768px){
        .cover__title {
            max-width: 560px;
        }
            }
    @media screen and (min-width: 320px) and (max-width:425px) {
        .cover__title {
    width:100%;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 0 auto;
    padding:0;
    }
}