.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    padding:0;
    margin:0 0 32px 0;
    z-index: 1;
    justify-content: center;
    }
    
    @media screen and (min-width: 320px) and (max-width:425px) {
        .cover__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
    margin-left:16px;
    margin-right:16px;
    margin-bottom:16px;
    padding:0;
    }
    }