footer {
    max-width: 1184px;
    margin: 0;
    padding-top: 92px;
    padding-left: 48px;
    padding-bottom: 24px;
    padding-right: 48px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:767px) {
    .footer {
        flex-direction: column;
        padding-left: 16px;
        align-items: flex-start;
    }
}