.place__website {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    padding-top: 0;
    padding-bottom: 48px;
    margin: 0;
}
@media  screen and (max-width:767px) {
    .place__website{
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 0;
    }
    
}